@import url('https://fonts.googleapis.com/css?family=Fondamento');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave'); 

nav{
  font-family: 'Sedgwick Ave', cursive;  
  height: 8%;
  width: 100%;
  color :black;
}

body{
  top: 0px;
  /* height: 100%; */
  width: 100%;
}

ul{
  height: 100%;
}

.body-container{
  background: url('./assets/gradient.jpg');
  position: fixed;
  width: 100%;
  height: 100%;
}

.content{
  font-family: 'Sedgwick Ave', cursive;
}

.btn {
  font-family: 'Sedgwick Ave', cursive;
  height: 45px;
  width: 150px;
}

.content {
  top : 50px;
  position: relative;
  height: 100%;
  font-size: 24px;
  text-align: center;
}

.twitter {
  position: relative;
  height: 100%;
  font-size: 24px;
  text-align: center;
}


.bg-faded{
  background-color: royalblue;
}
