@import url('https://fonts.googleapis.com/css?family=Fondamento');

nav{
  height: 7%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
}

ul{
  height: 100%;
}

.body-container{
  width: 100%;
  height: 100%;
  background-color: white;
}


body, nav, .jumbotron{
  font-family: 'Fondamento', cursive;
}

.btn {
  height: 45px;
  width: 150px;
}

.jumbotron{
  background-color: white;
}

.content {
  position: relative;
  background-image: url('./assets/gradient.jpg');
  height: 40%;
  font-size: 24px;
}

.navbar-nav, .navbar, nav, .nav-container{
  background-color: gainsboro;
  color: black;
} 